In [ ]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd
import io
from google.colab import files
uploaded = files.upload()

Saving movie_data.csv to movie_data.csv

## Task 1: Reading and Inspection

### Subtask 1.1: Loading data

* Import and read the movie database. Store it in a variable called `movies` (0.5 marks)

In [ ]:
movies = pd.read_csv(io.BytesIO(uploaded['movie_data.csv']))
#movies = pd.read_csv("data/movie_data.csv")
# Write your code for importing the csv file here
movies

                          movie_title  ... movie_facebook_likes
0       Towering Inferno               ...                    0
1           The Shawshank Redemption   ...               108000
2                      The Godfather   ...                43000
3                Dekalog               ...                    0
4                Dekalog               ...                    0
...                               ...  ...                  ...
5038                  Disaster Movie   ...                    0
5039    Superbabies: Baby Geniuses 2   ...                    0
5040             The Helix... Loaded   ...                  128
5041                      Foodfight!   ...                    0
5042  Justin Bieber: Never Say Never   ...                62000

[5043 rows x 28 columns]

### Subtask 1.2: Inspect the dataframe

* Inspect the dataframe's columns, shapes & variable types (2 marks)

In [ ]:
# Write your code for inspection here
print("Data frame column names = ", movies.columns)
print("\n Data frame shape = ", movies.shape)
print("\n Data frame variable types: \n", movies.dtypes)

Data frame column names =  Index(['movie_title', 'color', 'director_name', 'num_critic_for_reviews',
       'duration', 'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

 Data frame shape =  (5043, 28)

 Data frame variable types:
 movie_title                   object
color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

### Subtask 1.3: Display the summary statistics
* Inspect the statistical summary of the dataframe (0.5 marks)

In [ ]:
# write your code for inspection here
movies.describe()

       num_critic_for_reviews     duration  ...  aspect_ratio  movie_facebook_likes
count             4993.000000  5028.000000  ...   4714.000000           5043.000000
mean               140.194272   107.201074  ...      2.220403           7525.964505
std                121.601675    25.197441  ...      1.385113          19320.445110
min                  1.000000     7.000000  ...      1.180000              0.000000
25%                 50.000000    93.000000  ...      1.850000              0.000000
50%                110.000000   103.000000  ...      2.350000            166.000000
75%                195.000000   118.000000  ...      2.350000           3000.000000
max                813.000000   511.000000  ...     16.000000         349000.000000

[8 rows x 16 columns]

### Subtask 1.4: Draw insights from the statistics
* What is the average duration of all the movies (1 mark)
* Find the details of movie which has the highest imdb score (1 mark)

In [ ]:
#What is the average duration of all the movies, round off your answer to 2 decimal points
Average_duration=input("Enter the average duration of the movies:")

Enter the average duration of the movies:107.2

In [ ]:
# Write the code to find the details of movie which has the highest imdb score

movies = movies.sort_values(by =['imdb_score'],ascending=False)
movies.head(1)

                     movie_title  color  ... aspect_ratio  movie_facebook_likes
0  Towering Inferno               Color  ...         1.33                     0

[1 rows x 28 columns]

## Task 2: Cleaning the Data

* Comment above the cells, showing what each codeblock is doing

-  ### Subtask 2.1:

#### write here what the following codeblock is doing ( 1 mark ) - #isnull().sum() is returning the number of missing values in a dataset or a dataframe

In [ ]:
movies.isnull().sum()

movie_title                    0
color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [ ]:
round(100*(movies.isnull().sum()/len(movies.index)), 2) #finding out the pecentage of missing values in each column in a given data set, rounded off to 2 decimal places

movie_title                   0.00
color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2:

#### write here what the following codeblock is doing ( 1 mark ) - #dropping columns from dataframe which are not required for the purpose of analysis

In [ ]:
movies = movies.drop(['color', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_1_facebook_likes', 'cast_total_facebook_likes', 'actor_2_facebook_likes',  'duration', 'facenumber_in_poster',  'content_rating',  'country',  'movie_imdb_link',  'aspect_ratio', 'plot_keywords','actor_2_name', 'actor_3_name'], axis = 1)

movies

                          movie_title  ... movie_facebook_likes
0       Towering Inferno               ...                    0
1           The Shawshank Redemption   ...               108000
2                      The Godfather   ...                43000
3                Dekalog               ...                    0
4                Dekalog               ...                    0
...                               ...  ...                  ...
5038                  Disaster Movie   ...                    0
5039    Superbabies: Baby Geniuses 2   ...                    0
5040             The Helix... Loaded   ...                  128
5041                      Foodfight!   ...                    0
5042  Justin Bieber: Never Say Never   ...                62000

[5043 rows x 13 columns]

In [ ]:
movies.drop_duplicates(subset = None, keep = 'first', inplace = True)
#removing duplicate columns and rows, in case there are more than one instance of the same data

In [ ]:
movies.shape

(4996, 13)

-  ### Subtask 2.3:

#### write here what the following codeblock  is doing ( 1 mark ) - #dropping unnecessary rows using columns with high null percentages

In [ ]:
movies = movies[~np.isnan(movies['gross'])]
movies = movies[~np.isnan(movies['budget'])]
movies

                                         movie_title  ... movie_facebook_likes
1                          The Shawshank Redemption   ...               108000
2                                     The Godfather   ...                43000
6                                   The Dark Knight   ...                37000
7                            The Godfather: Part II   ...                14000
9     The Lord of the Rings: The Return of the King   ...                16000
...                                              ...  ...                  ...
5035                                      Crossover   ...                  244
5037                              Who's Your Caddy?   ...                  446
5038                                 Disaster Movie   ...                    0
5039                   Superbabies: Baby Geniuses 2   ...                    0
5042                 Justin Bieber: Never Say Never   ...                62000

[3856 rows x 13 columns]

-  ### Subtask 2.4:

#### write here what the following codeblock  is doing ( 1 mark ) - # Dropping rows,some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [ ]:
movies = movies[movies.isnull().sum(axis=1) <= 5]

-  ### Subtask 2.5:

#### write here what the following codeblock is doing ( 1 mark ) - #fill NAN/missing values, the language column having NAN value to be replaced  by 'English' as a common and safe value

In [ ]:
movies['language'].describe()
movies.loc[pd.isnull(movies['language']), ['language']] = 'English'
movies

                                         movie_title  ... movie_facebook_likes
1                          The Shawshank Redemption   ...               108000
2                                     The Godfather   ...                43000
6                                   The Dark Knight   ...                37000
7                            The Godfather: Part II   ...                14000
9     The Lord of the Rings: The Return of the King   ...                16000
...                                              ...  ...                  ...
5035                                      Crossover   ...                  244
5037                              Who's Your Caddy?   ...                  446
5038                                 Disaster Movie   ...                    0
5039                   Superbabies: Baby Geniuses 2   ...                    0
5042                 Justin Bieber: Never Say Never   ...                62000

[3856 rows x 13 columns]

## Task 3: Data Analysis

-  ### Subtask 3.1: Convert units of gross and budget to millions for all movies in the dataset. (2 marks)

In [ ]:
# Write your code here
movies['budget'] = movies['budget']/(10**6)
movies['gross'] = movies['gross']/(10**6)
#checking successful conversion of gross and budget amounts from dollars to millions
movies.head()

                                      movie_title  ... movie_facebook_likes
1                       The Shawshank Redemption   ...               108000
2                                  The Godfather   ...                43000
6                                The Dark Knight   ...                37000
7                         The Godfather: Part II   ...                14000
9  The Lord of the Rings: The Return of the King   ...                16000

[5 rows x 13 columns]

-  ### Subtask 3.2:  Display the 10 movies with the highest profit. (Blockbuster Movies playlist) (2 marks)

In [ ]:
# Write your code here
#creating a profit column
movies['profit'] = 0 #initialising
movies['profit'] = movies['gross'] - movies['budget']
#writing code for sorting the dataframe here
movies = movies.sort_values(by=['profit'],ascending=False)
movies.head(10)

                                     movie_title  ...      profit
328                                      Avatar   ...  523.505847
1595                             Jurassic World   ...  502.177271
509                                     Titanic   ...  458.672302
26           Star Wars: Episode IV - A New Hope   ...  449.935665
370                  E.T. the Extra-Terrestrial   ...  424.449459
197                                The Avengers   ...  403.279547
54                                The Lion King   ...  377.783777
2564  Star Wars: Episode I - The Phantom Menace   ...  359.544677
6                               The Dark Knight   ...  348.316061
1053                           The Hunger Games   ...  329.999255

[10 rows x 14 columns]

-  ### Subtask 3.3: Display the top 10 movies (based on IMDb ratings) with a minimum of 25,000 ratings (Most Loved movies playlist) (4 marks)

In [ ]:
# Write your code here
movies_top10 = movies.copy()
movies_top10 = movies_top10.loc[movies_top10['num_voted_users']>25000]
movies_top10 = movies_top10.sort_values(by=['imdb_score'], ascending = False)
IMDB_Top_10 = movies_top10.iloc[0:10]
IMDB_Top_10

                                       movie_title  ...      profit
1                        The Shawshank Redemption   ...    3.341469
2                                   The Godfather   ...  128.821952
7                          The Godfather: Part II   ...   44.300000
6                                 The Dark Knight   ...  348.316061
9   The Lord of the Rings: The Return of the King   ...  283.019252
10                               Schindler's List   ...   74.067179
12                 The Good, the Bad and the Ugly   ...    4.900000
11                                   Pulp Fiction   ...   99.930000
14                                      Inception   ...  132.568851
17                                     Fight Club   ...  -25.976605

[10 rows x 14 columns]

Subtask 3.4: Display the names of top 5 directors based on IMDb ratings with a minimum of 5 movies (Top Directors Playlist) (4 marks)

In [ ]:
# Write your code here
x=movies.groupby("director_name")[['imdb_score','movie_title']].agg({"movie_title":"count","imdb_score":np.mean})
top_5_d=x.loc[x.movie_title>=5].sort_values(by=["imdb_score"],ascending= False).head(5)
top_5_d

                       movie_title  imdb_score
director_name
Christopher Nolan                8    8.425000
Quentin Tarantino                8    8.200000
James Cameron                    7    7.914286
Alejandro G. Iñárritu            5    7.840000
David Fincher                   10    7.750000

-  ### Subtask 3.5.1: Find the most popular genre of movies (by highest average rating) (4 marks)

In [ ]:
# Write your code here
#code to extract the primary genre of the movie
movie_genres = movies.copy()
movie_g = movie_genres['genres'].str.split('|', expand = True).rename(columns = lambda x: "string"+str(x+1))
movie_genres = pd.concat([movie_genres,movie_g],axis =1)
movie_genres = movie_genres.drop(['string2','string3','string4','string5','string6','string7','string8'], axis=1)
movie_genres.rename(columns={'string1': 'genre_1'}, inplace=True)
movie_genres.head()

                              movie_title     director_name  ...      profit  genre_1
328                               Avatar      James Cameron  ...  523.505847   Action
1595                      Jurassic World    Colin Trevorrow  ...  502.177271   Action
509                              Titanic      James Cameron  ...  458.672302    Drama
26    Star Wars: Episode IV - A New Hope       George Lucas  ...  449.935665   Action
370           E.T. the Extra-Terrestrial   Steven Spielberg  ...  424.449459   Family

[5 rows x 15 columns]

In [ ]:
#code to extract the most popular genre of movies by highest average IMDB rating
genre_popular = movie_genres.pivot_table(index='genre_1',values='imdb_score',aggfunc = 'mean')
genre_popular = pd.DataFrame(genre_popular.to_records())
genre_popular = genre_popular.sort_values(by="imdb_score",ascending=False)
genre_popular.head(1)

     genre_1  imdb_score
3  Biography    7.153623

-  ### Subtask 3.5.2: Find the most popular genre of movies (by total gross) (4 marks)

In [ ]:
# Write your code here

genre_popular_gross = movie_genres.pivot_table(index='genre_1',values='gross',aggfunc = 'sum')
genre_popular_gross = pd.DataFrame(genre_popular_gross.to_records())
genre_popular_gross = genre_popular_gross.sort_values(by="gross",ascending=False)
genre_popular_gross.head(1)

  genre_1         gross
0  Action  73674.468188